@font-face {
    font-family: 'qanelas';
    src: url('../fonts/QanelasBlack.otf');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'qanelas';
    src: url('../fonts/QanelasBold.otf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'qanelas';
    src: url('../fonts/QanelasExtraBold.otf');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'qanelas';
    src: url('../fonts/QanelasRegular.otf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'qanelas';
    src: url('../fonts/QanelasRegularItalic.otf');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'qanelas';
    src: url('../fonts/QanelasSemiBold.otf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'qanelas';
    src: url('../fonts/QanelasSemiBoldItalic.otf');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
  }
  